/* :root {
  --heading-1: #c72737;
  --heading-2: #00aae7;
  --color_white: #dae0e5;
} */
/* $color8: #cac7c7; */
/* lightgrey  */
/* $txt_color: #6d6868; */
/* =========== menu tabs colors =====================*/
/*  blue */
/* #f4f4f4 */
