/* :root {
  --heading-1: #c72737;
  --heading-2: #00aae7;
  --color_white: #dae0e5;
} */
$h2: #5d5a5a;
$p_color: #433e3e;
$p_color2: #655d5d;
$h3_color: #7a7575;
$border: #e7e0e0;

$dark: #131313;
$color_blk: #1e2328;
$color_red: #ef0000;
$color_white: #dae0e5;
$color1: #8f999e;
$color3: #c9a2a9;  
$color4: #5d5757;
$color5: #696363;
$color6: #eaeaea;
$color7: #00aae7;
$color8: #ffe0f7;
/* $color8: #cac7c7; */
$color9: rgb(36, 164, 207);
$color10: #000;
$set_color: #444444;
$close_popup: #222;
$color12: #4e89ae;

$overlay: rgba(233, 185, 229, 0.8);
$back1: #f4f4f4; /* lightgrey  */
$back2: #efefef; /* lightgrey  */
$yellow: #ffc107;
$blue1: #0fabbc;
$green: #28a745;
$setting_color1: #0fabbc;
$setting_color2: #fff;
$burger_color: #eaeaea;
$item_head_color: #a32a2a;
/* $txt_color: #6d6868; */
$txt_color: #4e4a4a;
$price_color: #9c4343;
$price2_color: #3f3d3d;
$size_type: #858282;

/* =========== menu tabs colors =====================*/
$menu_nav1: #fff;
$menu_nav2: #0fabbc; /*  blue */
$menu_nav3: #40a8c4;
$menu_nav4: #ccc7c6;

/* #f4f4f4 */
