
.cont-intro {
  background: linear-gradient(rgba(0, 0, 0, -0.8), rgba(0, 0, 0, 0.7)),
  url("../image/bur1.jpg") no-repeat center center / cover;
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    position: absolute;
    color: #fff;
    font-size: 50px;
    font-weight: bold;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      display: block;
      background-color: #fff;
      transform: translateY(-4px);
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      display: block;
      background-color: #fff;
      transform: translateY(4px);
    }
  }
}


.contact {
  margin: 50px 0;
  .info {
    margin: 0 0 10px 0;
    padding: 10px 0;
    text-align: center;

    p {
      color: $p_color2;
      font-size: 19px;
      margin-bottom: 0;

      span {
        font-size: 20px;
        font-weight: bold;
        color: #888383;
      }
    }
  }
  h2 {
    color: $menu_nav2;
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0 30px 0;
  }

  iframe {
    border: 2px solid $border;
    border-radius: 10px;
    box-shadow: 0 4px 8px $back1;
  }
  .my_hours {
    background-color: $back1;
    border: 1px solid $border;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px $back1;

    h3 {
      font-size: 27px;
      padding: 18px 0;
      margin: 0;
      color: $h3_color;
      font-weight: bold;
    }
    .table {
      margin: 0;
      text-align: center;
      tr {
        padding: 10px 0;
        td {
          font-size: 18px;
          color: $p_color2;
        padding: 15px 0;

        }
        .day {
          font-weight: bold;
          font-size: 18px;
          color: #867e7e;
          padding-left: 10px;
        }
      }
    }
  }
}




/* =================================== media queries ==============================*/

/*========================== max size 320px =================*/

@media (max-width: 320px) {

  .cont-intro {
    height: 70vh;
    h2 {
      margin-top: 24px;
      font-size: 23px;
      padding: 0;

    }
  }


  .contact {
    margin: 20px 0;

    h2 {
      font-size: 25px;

      margin-top: 20px;
      margin-bottom: 10px;
      padding:0;
    }
    .info {
      padding-top: 0;
      margin-top: 0;
      p {
        font-size: 18px;

        span {
          font-size: 18px;
        }
      }
    }

    
    .my_hours {
      h3 {
        font-size: 20px;
        padding: 10px 0;
      }
      .table {
        tr {
          td {
            font-size: 17px;
          }
          .day {
            font-size: 17px;
          }
        }
      }
    }
  }
}
/*========================== max sizse 480px =================*/

@media (max-width: 480px) {

  .cont-intro {
    height: 70vh;
    h2 {
      margin-top: 25px;
      font-size: 27px;

    }
  }

  .contact {
    margin: 20px 0;

    h2 {
      font-size: 25px;

      margin-top: 20px;
      margin-bottom: 10px;
      padding:0;
    }
    .info {
      padding-top: 0;
      margin-top: 0;
      p {
        font-size: 18px;

        span {
          font-size: 18px;
        }
      }
    }


    .my_hours {
      margin: 5px 15px;
      h3 {
        font-size: 20px;
        padding: 10px 0;
      }
      .table {
        tr {
          td {
            font-size: 17px;
          }
          .day {
            font-size: 17px;
          }
        }
      }
    }

    .map{
      margin: 5px 15px;
    }

  }
}

/*========================== max sizse 768px =================*/

