.nav_active {
  background-color: #fff;
  color: red;
  border-radius: 5px;
}
header {
  color: #fff;
  .navbar {
    background-color: $dark;
    padding: 3px 50px;
    transition: all 0.5s;
    .navbar-brand {
      font-size: 28px;
      color: #fff;
      font-weight: bold;
      font-family: 'Courgette', cursive;
      text-shadow: 0 5px 5px #000;
      &:hover {
        color: #fff;
      }
    }
    .navbar-toggler {
      color: #fff;
      
      border: 1px solid #fff;

      span {
        color: #fff;
      }
      &.navbar-toggler {
        background-color: #fff;
      }
    }
    .navbar-nav {
      li {
        .nav-link {
          padding: 10px 15px;
          position: relative;
          font-size: 21px;
          color: #fff; 
          transition: all 0.5s ease;

          .navbar-icon {
            padding-right: 7px;
          }

          &:hover {
            color: #fff;
          }
          &:click {
            color: #fff;
          }

        }
        &.dropdown {
          .dropdown-menu {
            background-color: $color_red;
            .dropdown-item {
              color: #fff;
              padding-top: 2px;
              padding-left: 15px;
              font-weight: bold;
              &:hover,
              &:focus {
                background-color: $back1;
                color: $menu_nav2;
              }
            }
          }
        }
      }
    }
  }

}


/* ======================  starting of popup menu for keeep in touch  ========================= */

.popup-contact {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease;
  transform: scale(0);

  .keep_touch {
    position: relative;
    background-color: #fff;
    width: 50%;
    margin: 10% auto;
    border-radius: 5px;
    height: 300px;
    .contact_close {
      position: absolute;
      float: right;
      padding: 0;
      right: -10px;
      top: -10px;
      color: #fff;
      z-index: 1000;
      cursor: pointer;
      width: 30px;
      height: 30px;
      background-color: $menu_nav2;
      line-height: 30px;
      border-radius: 50%;
      text-align: center;
    }
    .keep_touch_2 {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      text-align: center;
      position: relative;

      .cont_info{
        padding: 20px ;
        h3 {
          padding: 10px ;
          font-size: 24px;
          font-weight: 500;
          color: $item_head_color;
        }

        p, a {
          font-size: 20px;
          padding: 5px 10px;
          color: #433e3e;
          .fa-keep-touch {
            color: $green;
            font-size: 22px;
          }
        }
      }



      img {

        width: 100%;
        height: 300px;
        top: 0;
        right: 0;
        bottom:0;
      }
    }
  }
}
/* ======================  ending of popup menu for keeep in touch  ========================= */

/*========================== media query  ===============================================================*/

/*========================== max size 320px =================*/

@media (max-width: 320px) {

  header {
   
    
    .navbar {
      
      .navbar-brand {
        font-size: 19px;
        
      }
      .navbar-toggler {
        font-size: 20px;
        
  
        span {
          color: #fff;
        }
        &.navbar-toggler {
          background-color: #fff;
        }
      }
      .navbar-nav {
        li {
          .nav-link {
            padding: 10px 15px;
            position: relative;
            font-size: 81px;
            color: #fff; 
            transition: all 0.5s ease;
  
            .navbar-icon {
              padding-right: 7px;
            }
  
            
          }
          &.dropdown {
            .dropdown-menu {
              background-color: $back2;
              .dropdown-item {
                color: $color_red;
                
                
              }
            }
          }
        }
      }
    }
  
  }



  .popup-contact {
      display: none;

    .keep_touch {
      position: relative;
      background-color: #fff;
      width: 55%;
      margin: 10% auto;
      border-radius: 5px;
      height: 200px;
      .contact_close {
        position: absolute;
        float: right;
        padding: 0;
        right: -10px;
        top: -10px;
        color: #fff;
        z-index: 1000;
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-color: $menu_nav2;
        line-height: 30px;
        border-radius: 50%;
        text-align: center;
      }
      .keep_touch_2 {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        position: relative;

        .cont_info{
          padding:5px ;
          h3 {
            padding: 5px ;
            font-size: 18px;

          }

          p, a {
            font-size: 16px;
            padding: 2px;
            color: #433e3e;
            .fa-keep-touch {
              color: $green;
              padding-right: 4px;
              font-size: 17px;
            }
          }
        }



        img {

          width: 100%;
          height: 300px;
          top: 0;
          right: 0;
          bottom:0;
        }
      }
    }
  }

}
@media (max-width: 380px){
  .popup-contact{
    display: none;
  }

}
/*========================== max size 480px =================*/

@media (max-width: 480px) {

  header {

    .navbar {



      .navbar-brand {
        font-size: 25px;

        &:hover {

        }
      }
      button {

        font-size: 24px;
        margin-bottom: 5px;

        span {
          color: #fff;
        }
        &.navbar-toggler {
          background-color: #fff;
        }
      }
      .navbar-nav {
        li {
          .nav-link {
            padding: 8px 15px;


            .navbar-icon {

            }

            &:hover {

            }
            &:click {

            }

          }
          &.dropdown {
            .dropdown-menu {
              background-color: $back2;

              .dropdown-item {
                color: $color_red;

                &:hover,
                &:focus {
                  background-color: $back1;
                  color: $menu_nav2;
                }
              }
            }
          }
        }
      }
    }

  }


  .popup-contact {

    .keep_touch {

      height: 180px;
      .contact_close {
        right: -10px;
        top: -10px;
        width: 25px;
        height: 25px;
        line-height: 25px;
      }
      .keep_touch_2 {

        .cont_info{
          padding:5px ;
          h3 {
            padding: 2px ;
            font-size: 18px;
            margin: 3px;

          }

          p, a {
            font-size: 16px;
            padding: 1px;

            .fa-keep-touch {

            }
          }
        }



        img {


          height: 180px;

        }
      }
    }
  }

}

/*========================== max size 768px =================*/


@media (max-width: 768px) {

  .popup-contact {

    .keep_touch {
      width: 70%;
      height: 220px;
      .contact_close {

        width: 28px;
        height: 28px;
        line-height: 28px;
      }
      .keep_touch_2 {

        .cont_info{
          padding:20px;
          h3 {
            padding: 5px ;
            font-size: 21px;
            margin: 5px 0;

          }

          p, a {
            font-size: 18px;
            padding: 8px;

            .fa-keep-touch {
              font-size: 19px;
            }
          }
        }



        img {


          height: 220px;

        }
      }
    }
  }
}

/*========================== max size 992px =================*/
@media (min-width: 992px) {

  .popup-contact {

    .keep_touch {
      width: 60%;
      height: 250px;
      .contact_close {

        width: 30px;
        height: 30px;
        line-height: 30px;
      }
      .keep_touch_2 {

        .cont_info{
          padding:20px;
          h3 {
            padding: 9px ;
            font-size: 23px;
            margin: 5px 0;

          }

          p, a {
            font-size: 19px;
            padding: 8px;

            .fa-keep-touch {
              font-size: 20px;
            }
          }
        }



        img {


          height: 250px;

        }
      }
    }
  }
}



/*========================== max size 1200px =================*/
@media (min-width: 1200px) {

  .popup-contact {

    .keep_touch {
      width: 50%;
      height: 300px;
      .contact_close {

        width: 30px;
        height: 30px;
        line-height: 30px;
      }
      .keep_touch_2 {

        .cont_info{
          padding:25px;
          h3 {
            padding: 10px ;
            font-size: 26px;
            margin: 8px 0;

          }

          p, a {
            font-size: 20px;
            padding: 10px;

            .fa-keep-touch {
              font-size: 21px;
            }
          }
        }



        img {


          height: 300px;

        }
      }
    }
  }
}
