.nav_active {
  background-color: #fff;
  color: red;
  border-radius: 5px;
}
header {
  color: #fff;
  .navbar {
    background-color: $dark;
    padding: 3px 50px;
    transition: all 0.5s;
    .navbar-brand {
      font-size: 28px;
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
    .navbar-toggler {
      color: #fff;
      
      border: 1px solid #fff;

      span {
        color: #fff;
      }
      &.navbar-toggler {
        background-color: #fff;
      }
    }
    .navbar-nav {
      li {
        .nav-link {
          padding: 10px 15px;
          position: relative;
          font-size: 21px;
          color: #fff; 
          transition: all 0.5s ease;

          .navbar-icon {
            padding-right: 7px;
          }

          &:hover {
            color: #fff;
          }
          &:click {
            color: #fff;
          }

        }
        &.dropdown {
          .dropdown-menu {
            background-color: $color_red;
            .dropdown-item {
              color: #fff;
              padding-top: 2px;
              padding-left: 15px;
              font-weight: bold;
              &:hover,
              &:focus {
                background-color: $back1;
                color: $menu_nav2;
              }
            }
          }
        }
      }
    }
  }

}


/* ======================  starting of popup menu for keeep in touch  ========================= */

.popup-contact {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: all 0.4s ease;
  transform: scale(0);

  .keep_touch {
    position: relative;
    background-color: #fff;
    width: 40%;
    margin: 10% auto;
    border-radius: 5px;
    height: 300px;
    .contact_close {
      position: absolute;
      float: right;
      padding: 0;
      right: -10px;
      top: -10px;
      color: #fff;
      z-index: 1000;
      cursor: pointer;
      width: 30px;
      height: 30px;
      background-color: $menu_nav2;
      line-height: 30px;
      border-radius: 50%;
      text-align: center;
    }
    .keep_touch_2 {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      text-align: center;
      position: relative;

      .cont_info{
        padding: 20px ;
        h3 {
          padding: 10px ;
          font-size: 24px;
          color: $item_head_color;
        }

        p, a {
          font-size: 20px;
          padding: 5px;
          color: #433e3e;
          .fa-keep-touch {
            color: $green;
            padding-right: 10px;
            font-size: 22px;
          }
        }
      }



      img {

        width: 100%;
        height: 300px;
        top: 0;
        right: 0;
        bottom:0;
      }
    }
  }
}
/* ======================  ending of popup menu for keeep in touch  ========================= */

/*========================== media query  ===============================================================*/

/*========================== max size 320px =================*/

@media (max-width: 320px) {

  header {
   
    
    .navbar {
      
      .navbar-brand {
        font-size: 19px;
        
        
      }
      .navbar-toggler {
        font-size: 20px;
        
  
        span {
          color: #fff;
        }
        &.navbar-toggler {
          background-color: #fff;
        }
      }
      .navbar-nav {
        li {
          .nav-link {
            padding: 10px 15px;
            position: relative;
            font-size: 81px;
            color: #fff; 
            transition: all 0.5s ease;
  
            .navbar-icon {
              padding-right: 7px;
            }
  
            
          }
          &.dropdown {
            .dropdown-menu {
              background-color: $back2;
              .dropdown-item {
                color: $color_red;
                
                
              }
            }
          }
        }
      }
    }
  
  }


  /* ======================  starting of popup menu for keeep in touch  ========================= */

  .popup-contact {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: all 0.4s ease;
    transform: scale(0);

    .keep_touch {
      position: relative;
      background-color: #fcf6f6;
      width: 40%;
      margin: 10% auto;
      border-radius: 5px;
      .contact_close {
        position: absolute;
        float: right;
        padding: 0;
        right: -10px;
        top: -10px;
        color: #fff;
        z-index: 1000;
        cursor: pointer;
        width: 30px;
        height: 30px;
        background-color: $menu_nav2;
        line-height: 30px;
        border-radius: 50%;
        text-align: center;
      }
      .keep_touch_2 {
        width: 100%;

        padding: 0;
        margin: 0;
        text-align: center;
        h3 {
          margin: 20px 0;

          font-size: 23px;
        }
        p {
          font-size: 18px;
          .fa-keep-touch {
            color: $green;
            padding-left: 10px;
            font-size: 20px;
          }
        }

        img {
          position: relative;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
        }
      }
    }
  }
  /* ======================  ending of popup menu for keeep in touch  ========================= */
}

/*========================== max size 480px =================*/

@media (max-width: 480px) {

  header {

    .navbar {



      .navbar-brand {
        font-size: 25px;

        &:hover {

        }
      }
      button {

        font-size: 24px;
        margin-bottom: 5px;

        span {
          color: #fff;
        }
        &.navbar-toggler {
          background-color: #fff;
        }
      }
      .navbar-nav {
        li {
          .nav-link {
            padding: 8px 15px;


            .navbar-icon {

            }

            &:hover {

            }
            &:click {

            }

          }
          &.dropdown {
            .dropdown-menu {
              background-color: $back2;

              .dropdown-item {
                color: $color_red;

                &:hover,
                &:focus {
                  background-color: $back1;
                  color: $menu_nav2;
                }
              }
            }
          }
        }
      }
    }

  }


  /* ======================  starting of popup menu for keeep in touch  ========================= */

  .popup-contact {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: all 0.4s ease;
    transform: scale(0);

    .keep_touch {
      position: relative;
      background-color: #fcf6f6;
      width: 50%;
      margin: 10% auto;
      border-radius: 5px;
      .contact_close {
        position: absolute;
        float: right;
        padding: 0;
        right: -10px;
        top: -10px;
        color: #fff;
        z-index: 1000;
        cursor: pointer;
        width: 25px;
        height: 25px;
        background-color: $yellow;
        line-height: 25px;
        border-radius: 50%;
        text-align: center;
      }
      .keep_touch_2 {
        width: 100%;

        padding: 0;
        margin: 0;
        text-align: center;
        h3 {
          margin: 20px 0;

          font-size: 23px;
        }
        p {
          font-size: 18px;
          .fa-keep-touch {
            color: $green;
            padding-left: 10px;
            font-size: 20px;
          }
        }

        img {
          width: 100%;
          height: inherit;
          top: 0;
          left: 0;
        }
      }
    }
  }
  /* ======================  ending of popup menu for keeep in touch  ========================= */
}

/*========================== max sizse 768px =================*/

@media (max-width: 768px) {

  header {

    .navbar {



      .navbar-brand {
        font-size: 28px;

        &:hover {

        }
      }
      .navbar-toggler{

        font-size: 27px;
        margin-bottom: 5px;
        margin-top:5px;

        span {
          color: #fff;
        }

      }
      .navbar-nav {
        li {
          .nav-link {
            padding: 8px 15px;


            .navbar-icon {

            }

            &:hover {

            }
            &:click {

            }

          }
          &.dropdown {
            .dropdown-menu {
              background-color: $back2;

              .dropdown-item {
                color: $color_red;

                &:hover,
                &:focus {
                  background-color: $back1;
                  color: $menu_nav2;
                }
              }
            }
          }
        }
      }
    }

  }


  /* ======================  starting of popup menu for keeep in touch  ========================= */

  .popup-contact {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: all 0.4s ease;
    transform: scale(0);

    .keep_touch {
      position: relative;
      background-color: #fcf6f6;
      width: 50%;
      margin: 10% auto;
      border-radius: 5px;
      .contact_close {
        position: absolute;
        float: right;
        padding: 0;
        right: -10px;
        top: -10px;
        color: #fff;
        z-index: 1000;
        cursor: pointer;
        width: 25px;
        height: 25px;
        background-color: $yellow;
        line-height: 25px;
        border-radius: 50%;
        text-align: center;
      }
      .keep_touch_2 {
        width: 100%;

        padding: 0;
        margin: 0;
        text-align: center;
        h3 {
          margin: 20px 0;

          font-size: 23px;
        }
        p {
          font-size: 18px;
          .fa-keep-touch {
            color: $green;
            padding-left: 10px;
            font-size: 20px;
          }
        }

        img {
          width: 100%;
          height: inherit;
          top: 0;
          left: 0;
        }
      }
    }
  }
  /* ======================  ending of popup menu for keeep in touch  ========================= */
}
/*========================== max sizse 900px =================*/

@media (max-width: 900px) {

  header {

    .navbar {



      .navbar-brand {
        font-size: 29px;

        &:hover {

        }
      }
      button {

        font-size: 28px;
        margin-bottom: 5px;
        margin-top:5px;

        span {
          color: #fff;
        }
        &.navbar-toggler {
          background-color: #fff;
        }
      }
      .navbar-nav {
        li {
          .nav-link {
            padding: 8px 15px;


            .navbar-icon {

            }

            &:hover {

            }
            &:click {

            }

          }
          &.dropdown {
            .dropdown-menu {
              background-color: $back2;

              .dropdown-item {
                color: $color_red;
                font-size: 18px;
                &:hover,
                &:focus {
                  background-color: $back1;
                  color: $menu_nav2;
                }
              }
            }
          }
        }
      }
    }

  }


  /* ======================  starting of popup menu for keeep in touch  ========================= */

  .popup-contact {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: all 0.4s ease;
    transform: scale(0);

    .keep_touch {
      position: relative;
      background-color: #fcf6f6;
      width: 50%;
      margin: 10% auto;
      border-radius: 5px;
      .contact_close {
        position: absolute;
        float: right;
        padding: 0;
        right: -10px;
        top: -10px;
        color: #fff;
        z-index: 1000;
        cursor: pointer;
        width: 25px;
        height: 25px;
        background-color: $yellow;
        line-height: 25px;
        border-radius: 50%;
        text-align: center;
      }
      .keep_touch_2 {
        width: 100%;

        padding: 0;
        margin: 0;
        text-align: center;
        h3 {
          margin: 20px 0;

          font-size: 23px;
        }
        p {
          font-size: 18px;
          .fa-keep-touch {
            color: $green;
            padding-left: 10px;
            font-size: 20px;
          }
        }

        img {
          width: 100%;
          height: inherit;
          top: 0;
          left: 0;
        }
      }
    }
  }
  /* ======================  ending of popup menu for keeep in touch  ========================= */
}

/*========================== max sizse 1024px =================*/

@media (max-width: 1024px) {

  header {

    .navbar {



      .navbar-brand {
        font-size: 30px;

        &:hover {

        }
      }
      button {

        font-size: 28px;
        margin-bottom: 5px;
        margin-top:5px;

        span {
          color: #fff;
        }
        &.navbar-toggler {
          background-color: #fff;
        }
      }
      .navbar-nav {
        li {
          .nav-link {
            padding: 10px 15px;
            font-size: 21px;

            .navbar-icon {

            }

            &:hover {

            }
            &:click {

            }

          }
          &.dropdown {
            .dropdown-menu {
              background-color: $back2;

              .dropdown-item {
                color: $color_red;
                font-size: 18px;
                &:hover,
                &:focus {
                  background-color: $back1;
                  color: $menu_nav2;
                }
              }
            }
          }
        }
      }
    }

  }


  /* ======================  starting of popup menu for keeep in touch  ========================= */

  .popup-contact {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: all 0.4s ease;
    transform: scale(0);

    .keep_touch {
      position: relative;
      background-color: #fcf6f6;
      width: 50%;
      margin: 10% auto;
      border-radius: 5px;
      .contact_close {
        position: absolute;
        float: right;
        padding: 0;
        right: -10px;
        top: -10px;
        color: #fff;
        z-index: 1000;
        cursor: pointer;
        width: 25px;
        height: 25px;
        background-color: $yellow;
        line-height: 25px;
        border-radius: 50%;
        text-align: center;
      }
      .keep_touch_2 {
        width: 100%;

        padding: 0;
        margin: 0;
        text-align: center;
        h3 {
          margin: 20px 0;

          font-size: 23px;
        }
        p {
          font-size: 18px;
          .fa-keep-touch {
            color: $green;
            padding-left: 10px;
            font-size: 20px;
          }
        }

        img {
          width: 100%;
          height: inherit;
          top: 0;
          left: 0;
        }
      }
    }
  }
  /* ======================  ending of popup menu for keeep in touch  ========================= */
}

/*========================== max sizse 1200px =================*/

@media (max-width: 1200px) {

  header {

    .navbar {



      .navbar-brand {
        font-size: 32px;

        &:hover {

        }
      }
      button {

        font-size: 28px;
        margin-bottom: 5px;
        margin-top:5px;

        span {
          color: #fff;
        }
        &.navbar-toggler {
          background-color: #fff;
        }
      }
      .navbar-nav {
        li {
          .nav-link {
            padding: 10px 15px;
            font-size: 21px;

            .navbar-icon {

            }

            &:hover {

            }
            &:click {

            }

          }
          &.dropdown {
            .dropdown-menu {
              background-color: $back2;

              .dropdown-item {
                color: $color_red;
                font-size: 18px;
                &:hover,
                &:focus {
                  background-color: $back1;
                  color: $menu_nav2;
                }
              }
            }
          }
        }
      }
    }

  }


  /* ======================  starting of popup menu for keeep in touch  ========================= */

  .popup-contact {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: all 0.4s ease;
    transform: scale(0);

    .keep_touch {
      position: relative;
      background-color: #fcf6f6;
      width: 50%;
      margin: 10% auto;
      border-radius: 5px;
      .contact_close {
        position: absolute;
        float: right;
        padding: 0;
        right: -10px;
        top: -10px;
        color: #fff;
        z-index: 1000;
        cursor: pointer;
        width: 25px;
        height: 25px;
        background-color: $yellow;
        line-height: 25px;
        border-radius: 50%;
        text-align: center;
      }
      .keep_touch_2 {
        width: 100%;

        padding: 0;
        margin: 0;
        text-align: center;
        h3 {
          margin: 20px 0;

          font-size: 23px;
        }
        p {
          font-size: 18px;
          .fa-keep-touch {
            color: $green;
            padding-left: 10px;
            font-size: 20px;
          }
        }

        img {
          width: 100%;
          height: inherit;
          top: 0;
          left: 0;
        }
      }
    }
  }
  /* ======================  ending of popup menu for keeep in touch  ========================= */
}