@import url("https://fonts.googleapis.com/css?family=Parisienne&display=swap");

.banner {
  background: linear-gradient(rgba(0, 0, 0, -0.8), rgba(0, 0, 0, 0.9)),
    url("../image/banner/banner.png") no-repeat center center / cover;
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;

  .text1 {
    color: #fff;
    font-size: 40px;
    margin-top: -30px;
    margin-bottom: 20px;
    font-family: "Bree Serif", serif;
  }

  .btn {
    margin: 15px 10px;
    padding: 9px 26px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
  }
  .btn-light {
    color: $blue1;
    border: 1px solid $blue1;
    transition: all 0.5s ease;
    &:hover {
      background-color: $blue1;
      color: $color_white;
      border: 1px solid $color_white;
    }
  }
  .btn-danger {
    border: 1px solid $color_white;
    transition: all 0.5s ease;
    background-color: $blue1;
    &:hover {
      background-color: $color_white;
      color: $blue1;
      transition: all 0.5s ease;
      border: 1px solid $blue1;
    }
  }
  /*  .effect {
    animation-name: leftToRight;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  } */

  /* .effect2 {
    animation-name: rightToLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  } */
}



@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.intro {
  margin: 10px auto;
  padding: 20px;

  h3 {
    margin: 10px;
    font-size: 39px;
    font-weight: 600;
    color: $item_head_color;

  }

  p {
    width: 70%;
    font-size: 24px;
    position: static;
    color: $p_color;
    margin: 10px auto;
    line-height: 40px;

    &::before {
      content: open-quote;
      font-size: 40px;
      color: rgb(146, 139, 139);
    }
    &::after {
      content: close-quote;
      font-size: 40px;
      color: rgb(146, 139, 139);
    }
  }
}

.gallery {
  background-color: $back1;
  padding: 60px 30px;
  h2 {
    font-size: 34px;
    padding-bottom: 20px;
    color: $item_head_color;
  }

  .my-gall {
    margin: 0;
    padding: 0;
    .gall {
      width: 100%;
      height: 100%;
      overflow: hidden;
      img {
        width: inherit;
        height: inherit;
        transition: all 0.7s ease-in;

        &:hover {
          transform: scale(1.1);
          opacity: 0.6;
        }
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $overlay;
        text-align: center;
        border-radius: 2px;
        transform: scale(0);
        transition: all 0.6s ease;
        p {
          font-size: 20px;
          margin-top: 10%;
          color: #0e0d0d;
        }
      }
      &:hover .overlay {
        transform: scale(1);
      }
    }
  }
}
.home-menu {
  background-color: $back1;
  padding-top: 50px;
  padding-bottom: 75px;

  h2 {
    color: $color7;
    font-weight: bold;
  }

  p {
    padding: 10px;
    color: $p_color;
    font-size: 24px;
  }
  .menu_1 {
    padding: 2px;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 300px;

    .home-menu1 {
      margin: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      overflow: hidden;
      position: relative;

      img {
        width: inherit;
        height: inherit;
        transition: all 0.9s;
      }
      &:hover img {
        transform: scale(1.12);
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.5s;
        background-color: $overlay;

        opacity: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        h3 {
          position: absolute;
          margin: 10px auto;
          text-align: center;
          font-weight: bold;
          font-size: 24px;
          top: 31%;
          color: $price2_color;
        }
        .btn {
          position: absolute;
          top: 65%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 10px 25px;
          border-radius: 25px;
          background-color: #fff;
          color: $blue1;
          border: 1px solid $blue1;
          font-weight: bold;
          transition: all 0.5s;
          font-size: 18px;
          &:hover {
            color: #fff;
            background-color: $blue1;
            border: 1px solid #fff;
          }
        }
      }
      &:hover .overlay {
        opacity: 1;

        h3 {
          animation: my_motion_1 1s;
        }

        .btn {
          animation: my_motion_2 1s;
        }
      }
    }
  }
}



/* ============================ welcome 2 section properties ============================ */
.welcome2 {
  
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../image/5.jpg") no-repeat center center / cover;
  
  background-attachment: fixed;
  height: auto;
  padding: 40px 0;
  color: #fff;
  h2 {
    padding: 17px;
    font-size: 37px;
    font-weight: bold;
    color: #FFF;
  }

  .wel-txt,
  .wel-txt_2 {
    h3 {
      font-size: 27px;
      margin-top: 20px;
      font-weight: 500;
    }
    p {
      font-size: 20px;
      padding-right: 50px;
    }
  }
/*  &::before,
  &::after {
    content: "";
    position: absolute;
    background: lightslategray;
    width: 70px;
    height: 70px;
    top: -55px;
    z-index: 100;
  }
  &::before {
    transform: skew(0, 45deg);
    right: 50%;
  }
  &::after {
    left: 50%;
    transform: skew(0, -45deg);
  }*/
}

.right {
  animation-name: right_to_left;
  animation-duration: 2s;
}
.right2 {
  animation-name: right_to_left;
  animation-duration: 2s;
  animation-delay: 1.5s;
}
.left {
  animation-name: left_to_right;
  animation-duration: 2s;
}
.left2 {
  animation-name: left_to_right;
  animation-duration: 2s;
  animation-delay: 1.5s;
}
@keyframes right_to_left {
  0% {
    transform: translateX(400px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes left_to_right {
  0% {
    transform: translateX(-400px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*.menu1 {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.88)),
    url("../image/4.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  height: auto;
  padding: 80px 0;

  .menu-container {
    opacity: 0;
    margin: 10px 40px;
    transition: all 0.5s ease-in;

    .menu-1 {
      background-color: #e0e0e4 !important;
      border-radius: 10px;
      box-shadow: 0px 3px 3px grey;
      padding: 36px;

      h3 {
        margin: 25px;
        font-size: 32px;
        color: $color3;
      }
      .card {
        margin-bottom: 15px;

        img {
          max-width: 100%;
          padding: 5px;
          transition: all 0.5s ease-in;
        }

        .card-body {
          h4 {
            font-size: 20px;
            color: #7f7a7a;
            margin-bottom: 4px;
          }
          .btn {
            color: $blue1;
            background-color: #fff;
            border: 1px solid $blue1;
            font-size: 16px;
            padding: 2px 8px;
            transition: all 0.4s ease-in;
            &:hover {
              color: #fff;
              background-color: $blue1;
              border: 1px solid #fff;
            }
          }
        }
      }
    }
  }
}*/




/*=================================================== Animation =======================*/
@keyframes my_motion_1 {
  0% {
    opacity: 0;
    top: 100%;
  }
  100% {
    opacity: 1;
    top: 31%;
  }
}

@keyframes my_motion_2 {
  0% {
    opacity: 0;
    top: -10%;
  }
  100% {
    opacity: 1;
    top: 65%;
  }
}

/*===================================== media queries  ==================================*/

/*========================== max sizse 320px =================*/

@media (max-width: 320px) {
  .banner {
   
    height:  90vh;
    .text1 {
      
      font-size: 26px;
      margin-top: -30px;
      margin-bottom: 20px;
      
    }
  
    .btn {
      margin: 15px 10px;
      padding: 5px 24px;
      font-size: 18px;
      font-weight: bold;
      border-radius: 20px;
    }
    .btn-light {
      color: $blue1;
      border: 1px solid $blue1;
      transition: all 0.5s ease;
      &:hover {
        background-color: $blue1;
        color: $color_white;
        border: 1px solid $color_white;
      }
    }
    .btn-danger {
      border: 1px solid $color_white;
      transition: all 0.5s ease;
      background-color: $blue1;
      &:hover {
        background-color: $color_white;
        color: $blue1;
        transition: all 0.5s ease;
        border: 1px solid $blue1;
      }
    }
    
  }

  .intro {
    margin: 3px auto;
    padding: 3px;
  
    h3 {
      margin: 5px;
      font-size: 25px;
    }
  
    p {
      width: 80%;
      font-size: 18px;
      margin: 5px auto;
      line-height: 30px;
  
      &::before {
        font-size: 22px; 
      }
      &::after {
        font-size: 22x;
      }
    }
  }
  .home-menu {
    
    padding-top: 20px;
    padding-bottom: 30px;
  
    h2 {
      
      font-size: 25px;
    }
  
    p {
      padding: 5px;
      font-size: 18px;
      line-height: 30px;
    }
    .menu_1 {
     
      height: 180px;
  
      .home-menu1 {
        
        border-radius: 1px;
        &:hover img {
          transform: scale(1.09);
        }
        .overlay {
         
          h3 {
            
            margin: 6px auto;
            font-size: 20px;
            
           
          }
          .btn {
            
            padding: 8px 18px;
            border-radius: 25px;
            font-size: 16px;
            &:hover {
              color: #fff;
              background-color: $blue1;
              border: 1px solid #fff;
            }
          }
        }
        &:hover .overlay {
          opacity: 1;
  
          h3 {
            animation: my_motion_1 1s;
          }
  
          .btn {
            animation: my_motion_2 1s;
          }
        }
      }
    }
  }  
  
  
.welcome2 {
  height: auto;
  padding: 20px 0;
  text-align: center;
  
  h2 {
    padding: 10px;
    margin-top:10px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: bold;
    color: $menu_nav2;
    text-align: center;
  }

  .wel-txt,
  .wel-txt_2 {
    h3 {
      font-size: 27px;
      margin-top: 15px;
      margin-bottom:0px;
      font-weight: bold;
      text-align: center;
    }
    p {
      font-size: 20px;
      margin-bottom:5px;
      text-align: center;
      padding: 10px 5px;
    }
  }
  }

.gallery {
  
  padding: 25px 15px;
  h2 {
    font-size: 25px;
    padding-bottom: 10px;
    
  }

  .my-gall {
    margin: 0;
    padding: 0;
    .gall {
      
      .overlay {
        
        p {
          font-size: 17px;
          margin-top: 20%;
          
        }
      }
      
    }
  }
}

}

/*========================== max sizse 320px =================*/
@media (max-width: 480px) {
   .banner {
   
    height:  90vh;
    .text1 {
      
      font-size: 26px;
      margin-top: -30px;
      margin-bottom: 20px;
      
    }
  
    .btn {
      margin: 15px 10px;
      padding: 5px 24px;
      font-size: 18px;
      font-weight: bold;
      border-radius: 20px;
    }
    .btn-light {
      color: $blue1;
      border: 1px solid $blue1;
      transition: all 0.5s ease;
      &:hover {
        background-color: $blue1;
        color: $color_white;
        border: 1px solid $color_white;
      }
    }
    .btn-danger {
      border: 1px solid $color_white;
      transition: all 0.5s ease;
      background-color: $blue1;
      &:hover {
        background-color: $color_white;
        color: $blue1;
        transition: all 0.5s ease;
        border: 1px solid $blue1;
      }
    }
    
  }

  .intro {
    margin: 10px auto;
    padding: 3px;
  
    h3 {
      margin: 5px;
      font-size: 27px;
    }
  
    p {
      width: 80%;
      font-size: 19px;
      margin: 5px auto;
      line-height: 30px;
  
      &::before , &::after{
        font-size: 22px; 
      }
    }
  }
  .home-menu {
    
    padding-top: 30px;
    padding-bottom: 30px;
  
    h2 {
      
      font-size: 27px;
    }
  
    p {
      padding: 5px;
      font-size: 19px;
      line-height: 30px;
    }
    .menu_1 {
  height: 170px;
      .home-menu1 {
        
        border-radius: 1px;
        &:hover img {
          transform: scale(1.09);
        }
        .overlay {
         
          h3 {
            
            margin: 6px auto;
            font-size: 23px;
            
           
          }
          .btn {
            
            padding: 8px 18px;
            border-radius: 25px;
            font-size: 16px;
            &:hover {
              color: #fff;
              background-color: $blue1;
              border: 1px solid #fff;
            }
          }
        }
        &:hover .overlay {
          opacity: 1;
  
          h3 {
            animation: my_motion_1 1s;
          }
  
          .btn {
            animation: my_motion_2 1s;
          }
        }
      }
    }
  }  
  
  
.welcome2 {
  height: auto;
  padding: 20px 0;
  text-align: center;
  
  h2 {
    padding: 10px;
    margin-top:10px;
    margin-bottom: 0;
    font-size: 30px;
    font-weight: bold;
    color: $menu_nav2;
    text-align: center;
  }

  .wel-txt,
  .wel-txt_2 {
    h3 {
      font-size: 27px;
      margin-top: 15px;
      margin-bottom:0px;
      font-weight: bold;
      text-align: center;
    }
    p {
      font-size: 20px;
      margin-bottom:5px;
      text-align: center;
      padding: 10px 5px;
    }
  }
  }

.gallery {
  
  padding: 25px 15px;
  h2 {
    font-size: 25px;
    padding-bottom: 10px;
    
  }

  .my-gall {
    margin: 0;
    padding: 0;
    .gall {
      
      .overlay {
        
        p {
          font-size: 17px;
          margin-top: 20%;
          
        }
      }
      
    }
  }
}
}

/*========================== max sizse 600px =================*/

@media (max-width: 600px) {
}

/*========================== max sizse 768px =================*/

@media (max-width: 768px) {
}

/*========================== max sizse 900px =================*/

@media (max-width: 900px) {
}

/*========================== max sizse 1024px =================*/

@media (max-width: 1024px) {
}

/*========================== max sizse 1200px =================*/

@media (max-width: 1200px) {
}
