/* ================================= burger.php background banner image ======================================= */
.burg-intro {
  background: linear-gradient(rgba(0, 0, 0, -0.8), rgba(0, 0, 0, 0.7)),
    url("../image/bur1.jpg") no-repeat center center / cover;
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    position: absolute;
    color: #fff;
    font-size: 50px;
    font-weight: bold;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      display: block;
      background-color: #fff;
      transform: translateY(-4px);
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      display: block;
      background-color: #fff;
      transform: translateY(4px);
    }
  }
}

.pizza-intro {
  background: linear-gradient(rgba(0, 0, 0, -0.8), rgba(0, 0, 0, 0.7)),
    url("../image/pizza.jpg") no-repeat center center / cover;
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    position: absolute;
    color: #fff;
    font-size: 50px;
    font-weight: bold;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      display: block;
      background-color: #fff;
      transform: translateY(-4px);
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      display: block;
      background-color: #fff;
      transform: translateY(4px);
    }
  }
}
/* =====================================sending of burger.php banner image ====================================*/
.menu-intro {
  background: linear-gradient(rgba(0, 0, 0, -0.8), rgba(0, 0, 0, 0.7)),
    url("../image/pizza.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    position: absolute;
    color: #fff;
    font-size: 50px;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      display: block;
      background-color: #fff;
      transform: translateY(-4px);
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 4px;
      display: block;
      background-color: #fff;
      transform: translateY(4px);
    }
  }
}
/*================================= starting of menu all nav tabs ===================*/
.menu_all {
  .menu_nav {
    margin: 0;
    padding: 0;
    width: 100vw;
    ul {
      height: 45px;
      background-color: $setting_color1;
      text-align: center;
      /* line-height: 45px; */
      margin: 0 auto;
      /* display: flex; */
      li {
        display: inline-block;
        padding: 0 20px;
        cursor: pointer;
        font-weight: bold;
        line-height: 46px;
        font-size: 20px;
        color: $menu_nav2;
        background-color: $back1;
        transition: all 0.5s;
        letter-spacing: 2px;

        &.inactive {
          background-color: $menu_nav3;
          color: $menu_nav1;
        }
      }
    }
  }
  /* ======================ending of nav tabs menu ===============================*/
  .menu_content {
    margin: 0 auto;
    background-color: $back1;

    .my-container {
      .content {
        background-color: $back1;
        padding: 10px;
        width: 95%;
        margin: auto;
        overflow: hidden;

        &:not(:first-of-type) {
          display: none;
        }

        .menu-m {
          padding: 50px 0;
          box-sizing: border-box;
          .top_item {
            padding: 0 30px;
            margin: 0 20px;
            transition: all 0.6s ease-in;
            opacity: 1;
            p {
              color: $price_color;
              font-size: 15px;
            }
            span {
              color: $price_color;
              font-size: 13px;
              padding: 0;
              margin: 0;
              font-weight: bold;
            }
            .top_span {
              padding-right: 2px;
            }
          }
          h2 {
            font-size: 30px;
            font-weight: bold;
            color: $h2;
            margin-bottom: 20px;
            .heading-span {
              color: $menu_nav2;
              font-style: italic;
            }
          }

          .menu-item {
            background-color: $burger_color;
            padding: 20px 30px;
            border-radius: 8px;
            margin: 5px 20px 20px 20px;
            box-sizing: border-box;
            h3 {
              color: $item_head_color;
              font-size: 21px;
              margin: 0;
              font-weight: 600;
            }
            p {
              margin-bottom: 0;
              color: $txt_color;
              font-size: 18px;
              padding-top: 5px;
              padding-right: 20px;
            }
            span {
              color: $price_color;
              font-size: 15px;
              font-weight: bold;
              text-align: right;
              /* margin-right: 8px; */
            }
          }

          .hr {
            margin: auto;
            width: 80%;
            background-color: $burger_color;
            margin-bottom: 12px;
            height: 2px;
          }
        }
      }
    }
  }
}

.menu_item1 {
  animation-name: motion1;
  animation-duration: 1s;
}
.menu_item2 {
  animation-name: motion1;
  animation-duration: 1.5s;
  animation-delay: 1s;
}
.menu_item3 {
  animation-name: motion1;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
}
.menu_item4 {
  animation-name: motion1;
  animation-duration: 1.5s;
  animation-delay: 2s;
}
.menu_item5 {
  animation-name: motion1;
  animation-duration: 1s;
  animation-delay: 2.5s;
}
.menu_item6 {
  animation-name: motion1;
  animation-duration: 1s;
  animation-delay: 3s;
}
.menu_item7 {
  animation-name: motion1;
  animation-duration: 1s;
  animation-delay: 3.5s;
}
.menu_item8 {
  animation-name: motion1;
  animation-duration: 1s;
  animation-delay: 4s;
}
/*================================= ending of menu all nav tabs ===================*/

/*======================== key frame animation ======================*/

@keyframes motion1 {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* h4 {
  color: #0fabbc;
  background-color: #40a8c4;
} */

//============================================ media query  for all devices ===============================================

//============================================ media query  387px =================================
@media (max-width: 387px) {
  body {
    line-height: normal;
  }
  .menu-intro,
  .burg-intro,
  .pizza-intro {
    height: 70vh;
    h2 {
      margin-top: 20px;
      font-size: 23px;
    }
  }
  /*================================= starting of menu all nav tabs ===================*/
  .menu_all {
    .menu_nav {
      ul {
        height: 35px;
        li {
          padding: 0 5px;
          font-size: 17px;
          letter-spacing: 0px;
        }
      }
    }
    /* ======================ending of nav tabs menu ===============================*/
    .menu_content {
      margin: 0 auto;
      background-color: $back1;

      .my-container {
        padding: 0;

        .content {
          width: 100%;

          .menu-m {
            padding: 30px 0;
            .top_item {
              padding: 4px 30px 4px 20px;
              margin: 0 4px;
              .grill {
                padding: 0;
              }
              .top_span1 {
                position: relative;
                right: -17px;
              }
              .top_span2 {
                position: relative;
                right: -26px;
              }
              .top_span3 {
                position: relative;
                right: 4px;
              }

              .top_span3 {
                position: relative;
                right: 4x;
              }
              .top_span4 {
                position: relative;
                right: -30px;
              }
              .top_span5 {
                position: relative;
                right: -29px;
              }

              p {
                font-size: 13px;
                padding: 0 5px;
              }
              span {
                font-size: 13px;
                text-align: right;
              }
              .top_span {
                position: absolute;
                right: 11px;
              }
              .grill {
                padding: 0;
                /*  .grill_span {
                  position: absolute;
                  right: 0;
                } */
              }
            }
            h2 {
              font-size: 18px;
              margin-bottom: 15px;
              .heading-span {
                color: $menu_nav2;
                font-style: italic;
              }
            }

            .menu-item {
              padding: 10px 15px;
              border-radius: 5px;
              .side_span3 {
                padding-right: 0;
                .side_span2 {
                  position: relative;
                  right: -14px;
                }
              }
              .side_span1 {
                position: relative;
                right: -30px;
              }
              .side_span4 {
                padding-right: 5px;
              }
              h3 {
                font-size: 17px;
                margin-bottom: 4px;
                padding-top: 0;
              }
              p {
                font-size: 15px;
                padding-top: 2px;
              }
              .mid_span {
                margin-left: 4px;
              }
              span {
                font-size: 13px;
                padding-top: 3px;
                font-weight: bold;
                color: $price2_color;
              }
              .right_span {
                position: absolute;
                right: 20px;
              }

              .pizza_span {
                position: absolute;
                right: -14px;
                padding-left: 5px;
              }
              .pizza_span2 {
                right: -16px;
              }
              .num_span {
                color: $price_color;
              }
            }

            .hr {
              width: 70%;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}
//============================================ media query  480px =================================
@media (max-width: 480px) {
  body {
    line-height: normal;
  }
  .menu-intro,
  .burg-intro,
  .pizza-intro {
    height: 70vh;
    h2 {
      margin-top: 20px;
      font-size: 28px;
    }
  }
  /*================================= starting of menu all nav tabs ===================*/
  .menu_all {
    .menu_nav {
      ul {
        height: 35px;
        li {
          padding: 0 10px;
          line-height: 35px;
          font-size: 18px;
          letter-spacing: 1px;
        }
      }
    }
    /* ======================ending of nav tabs menu ===============================*/
    .menu_content {
      margin: 0 auto;
      background-color: $back1;

      .my-container {
        padding: 0;

        .content {
          width: 100%;

          .menu-m {
            padding: 30px 0;
            .top_item {
              padding: 4px 30px 4px 20px;
              margin: 0 4px;

              .top_span1 {
                position: relative;
                right: -17px;
              }
              .top_span2 {
                position: relative;
                right: -26px;
              }
              .top_span3 {
                position: relative;
                right: 4px;
              }

              .top_span3 {
                position: relative;
                right: 4x;
              }
              .top_span4 {
                position: relative;
                right: -30px;
              }
              .top_span5 {
                position: relative;
                right: -29px;
              }

              p {
                font-size: 13px;
                padding: 0 5px;
              }
              span {
                font-size: 13px;
                text-align: right;
              }
              .top_span {
                position: absolute;
                right: 5px;
              }
            }
            h2 {
              font-size: 20px;
              margin-bottom: 15px;
              .heading-span {
                color: $menu_nav2;
                font-style: italic;
              }
            }

            .menu-item {
              padding: 10px 15px;
              border-radius: 5px;
              .side_span3 {
                padding-right: 0;
                .side_span2 {
                  position: relative;
                  right: -14px;
                }
              }
              .side_span1 {
                position: relative;
                right: -30px;
              }
              .side_span4 {
                padding-right: 5px;
              }
              h3 {
                font-size: 17px;
                margin-bottom: 4px;
                padding-top: 0;
              }
              p {
                font-size: 15px;
                padding-top: 2px;
              }
              .mid_span {
                margin-left: 4px;
              }
              span {
                font-size: 13px;
                padding-top: 3px;
                font-weight: bold;
                color: $price2_color;
              }
              .right_span {
                position: absolute;
                right: 4px;
              }

              .pizza_span {
                position: absolute;
                right: -14px;
                padding-left: 5px;
              }
              .pizza_span2 {
                right: -16px;
              }
              .num_span {
                color: $price_color;
              }
            }

            .hr {
              width: 70%;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}

//====================== Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

//============================= Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

//===================== Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
