$trans1: all 0.7s;
$white: #fff;
$backgrd: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));

body{
  font-size: 18px;
  line-height: 32px;
}
.social-icons {
  font-size: 17px;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: all 0.5s;
  margin: 0 5px;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    color: $color9;
  }
}
